<div class="box">
    <div>
        Destination: {{vacation.destination}}
        <br>
        Description {{vacation.description}}
        <br>
        start date : {{vacation.startDate.slice(0, 10).split("-").reverse().join("/")}} 
        <br>
        end date : {{vacation.endDate.slice(0, 10).split("-").reverse().join("/")}} 
        <br>
        price : {{vacation.price | currency:"ILS"}}
        <br>
        <button (click)="deleteProduct()">❌</button>
        <br>
        <a routerLink="/trip/update/{{vacation.vacationId}}">update</a>
        <br>
    </div>
    <div>
        <img [src]="imageSource">
    </div>
</div>